 div#container.firstbg {
          background: url(../img/collect/candy-bg.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
       .intro-banner img {
          height: 100%;
          width: 100%;
          display: inline-block;
       }
       .intro-banner{
          height: 137px;
          width: 100%;
              padding: 0 0 0 0;
       }
       .part2 ul {         
         /* padding: 15% 0 0;*/
        }

         #gameover p{
          width: 38%;
          position: absolute;
          top: 57%;
          left: 32%;
        }
        .report {
          position: absolute;
          top: 30%;
          left: 22%;
          width: 62%;
          display: flex;
        }
        .report > span {
            flex: 2;
        }
        .report .totalCandyCatch{
          text-align: right;
          padding: 0 31px 0 0;
        }
        #gameover button{
          display: block;
          width: 100%;
          margin: 20px 0;
          font-size: 13px;
          font-weight: 550;
          line-height: 14px;
          border-radius: 28px;
          color: #e74c3c;
          padding: 9px 0;
          border: none;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
          background-color: #fecd38;
          text-transform: uppercase;
          letter-spacing: 1.2;
    
        }

         body {
  font-size: 20px;
    font-family: Avenir;
  background: #000;
}
.form-holder {
    padding-top: 5%;
}
.characters{
  font-size: 0.7em;
  letter-spacing: 0.7;
  padding: 1em 0 0;
}
.characters .instruction-title{
 
    color: #e74c3c !important;
    font-size: 1em;
    font-weight: 550;
}
.part2 ul.characters li{
  margin:0.3em 0 !important;
  color:#4a4a4a;
}
.part2 ul.characters li.btn-list{
        position: absolute;
    bottom: 2%;
    left: 6%;
    display: inline-block;
    width: 85%;
}
h1 {font-size: 30px;}
h2 {font-size: 24px; margin-bottom: 10px;}
#container {
  background: #a7cfdf; 
  background: -moz-linear-gradient(top,  #a7cfdf 0%, #23538a 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a)); 
  background: -webkit-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); 
  background: -o-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); 
  background: -ms-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); 
  background: linear-gradient(top,  #a7cfdf 0%,#23538a 100%);   
  outline: 0;
}
#intro .heading span {
  text-indent: -2000px;
  background: url(img/shield.png) no-repeat center 20px;
  height: 130px;
  display: block;
}
#gameover{
      background-color: #4a4a4a78;
      color: #f5a623;
}
#gameover h1{
   text-align: center;
    /* text-transform: uppercase; */
    position: absolute;
    left: 31%;
    top: 16%;
    font-size: 1.4em;
}
#gameover header{
        background: url(../img/collect/gameover-circle.png);
    background-position-x: 50%;
    background-repeat: no-repeat;
    height: 295px;
    position: relative;
    margin-top: 44%;
}
 #intro p {
  width: 80%;
  margin: 10px auto;
}
#intro p {
  font-size: 16px;
  margin: 20px auto;
  text-align: center;
}
#intro .heading {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
#intro h4{
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
}
#intro button,  #characters button, .characters button {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: 550;
  line-height: 30px;
  border-radius: 28px;
  color:#e74c3c;
  background-color: #ffd87d;
      padding: 4% 0;
    border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1.2;
}
#intro li.btn-list{
    position: absolute;
    bottom: 5%;
    left: 6%;
    display: inline-block;
    width: 85%; 
}
#intro button:hover, #intro button:focus, #gameover button:hover, #gameover button:focus {
  box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.7);
}
#player {
  display: block;
  margin: 5px auto;
}
.right, .left {
  z-index: 10;
  line-height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
      display: inline-block;
    height: 58px;
    width: 60px;
  /*background: #9dd53a; 
  background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); 
  background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); 
  background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); 
  background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); 
  background: linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); */
}

.right{
  background: url(../img/collect/right1.png);
  }

.left {
  background: url(../img/collect/left1.png);

 }
* { 
  margin: 0;
  padding: 0;
}
body,html{
  height: 100%;
  overflow: hidden;
}
footer, section, header, aside, figure {
  display: block;
}
li {
  list-style: none;
}
#container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: url(../img/collect/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.playing #container { 
  cursor: none;
}

@media screen and (min-device-width: 700px) {
  #container {
    width: 40%;
    min-width: 500px;
    height: 90%;
    margin: 0 auto;
  }
}
#playfield, #gameover, #instructions, #intro {
  position: absolute;
  top: -923px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}
#playfield.current, 
#gameover.current, 
#instructions.current, 
#intro.current {
  top: 0;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}
#characters li.introdeck {
  opacity: 0;
  left: -9000px;
  position: absolute;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
#characters .current, #characters .introdeck {
  width: 80%;
  margin: 5px auto;
}
#characters .current ul {
  margin: 5px 0;
}
#characters .current li {
  display: inline;
  padding-right: 10px;
}
#characters li.current {
  opacity: 1;
  left: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}


.right {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.left {
  display: block;
  position: absolute;
  left: 12px;
  bottom: 20px;
}
canvas {
  width: 100%;
  height: 100%;
}
#scoresinfo {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 5px 0;
  background:none !important;
  background: rgb(76,76,76); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
}
#energy, #score , #totalCatch ,#catchLeft,#timer{
  position: relative;
  color: #fff;
  padding-left: 1.8em;
}
#totalCatch{
  padding-left: 2.8em;
}
#energy output, #score output ,#catchLeft{
 /* position: absolute;
  right: 20px;*/
}
.part2 form{
    margin:0 auto;
    width: 85%;
    background:white;
    box-shadow: inset 0px 1px 0px #f7e9e9;*/
    padding:10px;
    box-sizing: border-box;
    height:80%;

}
.part2 {
    margin:0 auto;
    width: 85%;
    background:white;
    box-shadow: inset 0px 1px 0px #f7e9e9;
    box-sizing: border-box;
    height:93%;
    position: relative;

}
.part2 ul li{
    margin: 2.5em 0 0;
}
.input-holder{
    position:relative;
}
input::placeholder { color:#9b9b9b;font-size:0.8em }

.input-holder label{
    position: absolute;
    top: 16px;
    left: 13px;
}

.input-holder input{
    padding: 0.8em 16px 0.8em 55px;
    border-radius: 6px;
    /* text-align: center; */
    border: 1px solid #ffd87d;
    font-size: 17px;
    width:100%;
}
.input-holder label img{
    width:20px;
    height:20px;
}
#intro , #instructions{
  display: flex;
    align-items: center;
    justify-content: center;
}
#scoresinfo .scoresinfo div{
  display: inline-block;
  color:white !important;
  float:right;
  padding-left:20px;
}
.scoreinfoContainer {
  display:flex;
  flex:2;
  padding: 0 3px 0 0px;   
  font-size: 0.9em;
    }
.scoreinfoContainer div{ flex:1;position: relative;}

div#scoresinfo{ display:flex; color: white !important;font-size: 0.8em}

.nameHolder {
    padding: 0 0 0 12px;
    flex:1
}
div#catchLeft{
  padding-top: 1px;
}
div#totalCatch::before{
    content: ''; 
   position:absolute;
   background:url('../img/collect/catchIcon.png');
   background-repeat:no-repeat;
   display:inline-block;
   height:25px;
   width:30px;
   left:1em;
    top: 2px;
   
}
div#catchLeft::before{
    content: '';
    position:absolute;
    background:url('../img/collect/totalIcon.png');
    background-repeat:no-repeat;
    display:inline-block;
    height: 20px;
    width: 20px;
    left:5px;
    top: -1px;
}

div#timer::before {
  content:'';
  position:absolute;
  background:url('../img/collect/clockIcon.png');
  background-repeat:no-repeat;
  display:inline-block;
  height: 20px;
  width: 20px;
  left: 5px;
  top: 0px;
  content:'';
}
span#finaltime{
  margin-left: 32px;
  position: relative;
}
span#finaltime::before{
    content:'';
   position:absolute;
   background:url('../img/collect/finaltimer.png');
   background-repeat:no-repeat;
   display:inline-block;
   height:25px;
   width:30px;
   left:-22px;
    top: 2px;
}
#finalreportcatch{
    position:relative;
}
span#finalreportcatch::before {
    content: '';
    position: absolute;
    background: url(../img/collect/catchIcon.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 25px;
    width: 30px;
    left: 4em;
    top: 0.2em;
}
